dnspython==2.3.0
numpy==1.24.2
pandas==1.5.3
pymongo==4.3.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
six==1.16.0
scikit-learn==1.2.2
PyYAML
dill==0.3.6
imblearn
xgboost==1.7.4
apache-airflow
fastapi==0.78.0
httptools==0.5.0
mypy-boto3-s3==1.24.76
types-s3transfer==0.6.0.post4
uvicorn==0.18.3
watchfiles==0.17.0
websockets==10.3
wincertstore==0.2
chill
-e .
